ldap-filter/src/main/resources/LdapQuery.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 6.7.B, Date: 21-Dec-2013. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.obj-sys.com/LdapQuery"
            targetNamespace="http://www.obj-sys.com/LdapQuery"
 xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema"
 elementFormDefault="unqualified">
   <xsd:import namespace="http://www.obj-sys.com/v1.0/XMLSchema"
    schemaLocation="http://www.obj-sys.com/v1.0/XMLSchema/asn1.xsd"/>

   <!-- PDU definition -->
   <xsd:element name="AttributeValue" type="AttributeValueType"/>
   <xsd:simpleType name="AttributeValueType">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="LDAPString">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:simpleType name="AttributeDescription">
      <xsd:restriction base="LDAPString"/>
   </xsd:simpleType>

   <xsd:simpleType name="MatchingRuleId">
      <xsd:restriction base="LDAPString"/>
   </xsd:simpleType>

   <xsd:simpleType name="AssertionValue">
      <xsd:restriction base="xsd:hexBinary"/>
   </xsd:simpleType>

   <xsd:complexType name="AttributeValueAssertion">
      <xsd:sequence>
         <xsd:element name="attributeDesc" type="AttributeDescription"/>
         <xsd:element name="assertionValue" type="AssertionValue"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="SubstringFilter">
      <xsd:sequence>
         <xsd:element name="type" type="AttributeDescription"/>
         <xsd:element name="substrings" >
            <xsd:complexType>
               <xsd:choice minOccurs="1" maxOccurs="unbounded">
                  <xsd:element name="initial" type="AssertionValue"/>
                  <xsd:element name="any" type="AssertionValue"/>
                  <xsd:element name="final" type="AssertionValue"/>
               </xsd:choice>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:complexType name="MatchingRuleAssertion">
      <xsd:sequence>
         <xsd:element name="matchingRule" minOccurs="0" type="MatchingRuleId"/>
         <xsd:element name="type" minOccurs="0" type="AttributeDescription"/>
         <xsd:element name="matchValue" type="AssertionValue"/>
         <xsd:element name="dnAttributes" minOccurs="0" type="asn1:BOOLEAN"/>
      </xsd:sequence>
   </xsd:complexType>

   <xsd:group name="Filter">
      <xsd:choice>
         <xsd:element name="and" >
            <xsd:complexType>
               <xsd:group ref="Filter" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="or" >
            <xsd:complexType>
               <xsd:group ref="Filter" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="not" type="Filter"/>
         <xsd:element name="equalityMatch" type="AttributeValueAssertion"/>
         <xsd:element name="substrings" type="SubstringFilter"/>
         <xsd:element name="greaterOrEqual" type="AttributeValueAssertion"/>
         <xsd:element name="lessOrEqual" type="AttributeValueAssertion"/>
         <xsd:element name="present" type="AttributeDescription"/>
         <xsd:element name="approxMatch" type="AttributeValueAssertion"/>
         <xsd:element name="extensibleMatch" type="MatchingRuleAssertion"/>
      </xsd:choice>
   </xsd:group>

   <xsd:complexType name="Filter">
      <xsd:group ref="Filter"/>
   </xsd:complexType>

</xsd:schema>