ldap-filter/src/main/resources/LdapQuerySimplified.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition 9.0.11.3078 (http://www.liquid-technologies.com)-->
<!-- This document was generated by the Objective Systems ASN2XSD Compiler
     (http://www.obj-sys.com).  Version: 6.7.B, Date: 21-Dec-2013. -->
<xsd:schema xmlns:asn1="http://www.obj-sys.com/v1.0/XMLSchema" xmlns="http://www.obj-sys.com/LdapQuery" elementFormDefault="unqualified" targetNamespace="http://www.obj-sys.com/LdapQuery" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- PDU definition -->
    <xsd:element name="AttributeValue" type="AttributeValueType" />
    <xsd:element name="Filter" type="Filter" />
    <xsd:simpleType name="AttributeValueType">
        <xsd:restriction base="xsd:hexBinary" />
    </xsd:simpleType>
    <xsd:simpleType name="LDAPString">
        <xsd:restriction base="xsd:hexBinary" />
    </xsd:simpleType>
    <xsd:simpleType name="AssertionValue">
        <xsd:restriction base="xsd:hexBinary" />
    </xsd:simpleType>
    <xsd:complexType name="Filter">
        <xsd:choice>
            <xsd:element name="and" type="Filter" maxOccurs="unbounded" />
            <xsd:element name="or" type="Filter" maxOccurs="unbounded" />
            <xsd:element name="not" type="Filter" />
            <xsd:element name="equalityMatch" type="AttributeValueAssertion" />
            <xsd:element name="substrings" type="SubstringFilter" />
            <xsd:element name="greaterOrEqual" type="AttributeValueAssertion" />
            <xsd:element name="lessOrEqual" type="AttributeValueAssertion" />
            <xsd:element name="present" type="AttributeDescription" />
            <xsd:element name="approxMatch" type="AttributeValueAssertion" />
            <xsd:element name="extensibleMatch" type="MatchingRuleAssertion" />
        </xsd:choice>
    </xsd:complexType>
    <xsd:complexType name="AttributeValueAssertion">
        <xsd:sequence>
            <xsd:element name="attributeDesc" type="AttributeDescription" />
            <xsd:element name="assertionValue" type="AssertionValue" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MatchingRuleAssertion">
        <xsd:sequence>
            <xsd:element name="matchingRule" type="MatchingRuleId" minOccurs="0" />
            <xsd:element name="type" type="AttributeDescription" minOccurs="0" />
            <xsd:element name="matchValue" type="AssertionValue" />
            <xsd:element name="dnAttributes" type="xsd:boolean" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SubstringFilter">
        <xsd:sequence>
            <xsd:element name="type" type="AttributeDescription" />
            <xsd:element name="substrings">
                <xsd:complexType>
                    <xsd:choice minOccurs="1" maxOccurs="unbounded">
                        <xsd:element name="initial" type="AssertionValue" />
                        <xsd:element name="any" type="AssertionValue" />
                        <xsd:element name="final" type="AssertionValue" />
                    </xsd:choice>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="AttributeDescription">
        <xsd:restriction base="LDAPString" />
    </xsd:simpleType>
    <xsd:simpleType name="MatchingRuleId">
        <xsd:restriction base="LDAPString" />
    </xsd:simpleType>
</xsd:schema>
